<mat-toolbar>
  <div>
    <h3 class="italic">Legacy Life Plans</h3>
  </div>
  <div class="navbarBtn">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <button mat-button>Home</button>
  </div>
  <div class="navbarBtn">
    <mat-icon>supervisor_account</mat-icon>
    <button mat-button>Trustees</button>
  </div>
  <div class="navbarBtn">
    <mat-icon color="warn">account_circle</mat-icon>
    <button mat-button color="warn">Professional</button>
  </div>
  <div class="navbarBtn">
    <mat-icon>more_horiz</mat-icon>
    <button mat-button>More</button>
  </div>
  <div class="search">
    <mat-icon class="searchIcon">search</mat-icon>
    <button mat-raised-button color="warn" class="inviteBtn"><mat-icon
        class="mailIcon">mail_outline</mat-icon>Invite</button>&nbsp;
    <img src="../assets/Bill-Gate.png" height="30px" width="30px" />
  </div>
</mat-toolbar>

<div class="cards">
  <mat-card class="example-card1">
    <div class="text-center">
      <img src="../assets/Bill-Gate.png" height="100px" width="100px" />
    </div>
    <mat-card-content>
      <div class="text-center">
        <h3 class="imgName">Bill Gate</h3>
        <span>CFA,CIC</span>
        <h4 class="member">Premium member</h4>
        <h4>Insurance Agent,Attorney Accountant</h4>
      </div>
      <hr>
    </mat-card-content>
    <div class="text-center innerEmail">
      <mat-icon color="warn">email</mat-icon>
      <button mat-button color="warn">Send an Email</button>
    </div>
  </mat-card>

  <mat-card class="example-card2">
    <mat-toolbar class="header">Business Details</mat-toolbar>
    <mat-card-actions>
      <mat-card class="innerCard">
        <mat-toolbar class="innerHeader">
          <div class="navbarBtn">
            <mat-icon class="accountCircle">account_circle</mat-icon>
            <button mat-button>
              <h3>Profile</h3>
            </button>
          </div>
          <div class="search">
            <button mat-raised-button color="warn" class="inviteBtn" (click)="openDialog()">Edit Profile</button>
          </div>
        </mat-toolbar>
        <form>
          <table>
            <tr>
              <th class="col-md-4">Name:</th>
              <td>{{storeData.name}}</td>
            </tr>

            <tr>
              <th>Domain:</th>
              <td>{{storeData.domain}}</td>
            </tr>
            <tr>
              <th>Gender:</th>
              <td>{{storeData.gender}}</td>
            </tr>
            <tr>
              <th>Date of Birth:</th>
              <td>{{storeData.dob}}</td>
            </tr>
            <tr>
              <th>Phone Number:</th>
              <td><span>+91</span>{{storeData.mobile}}</td>
            </tr>
            <tr>
              <th>Location:</th>
              <td>{{storeData.location}}</td>
            </tr>
          </table>
        </form>
      </mat-card>
    </mat-card-actions>
  </mat-card>
</div>